{% extends 'rango/base.html' %}
{% load staticfiles %}
{% load rango_template_tags %}

{% block title_block %}
    {% if page %}
        {{ page.title }}
    {% else %}
        Unknown Page
    {% endif %}
{% endblock %}

{% block body_block %}
    {% if page %}
    <div>
        <div class="jumbotron p-4">
            <div class="container">
                <h1 class="jumbotron-heading">{{ page.title }}</h1>
            </div>
        </div>   
        Access to the tutorial: 
        <a href="{{ page.url }}">{{ page.title }}</a>
    </div>    
    <div>
        <strong id="like_count">{{ page.likes }}</strong> people like this tutorial, <strong id="dislike_count">{{ page.dislikes }}</strong> don't
        
        {% if user.is_authenticated %}
        <p></p>
        <button id="like_btn" data-pageid="{{ page.id }}" class="btn btn-primary btn-sm" type="button">
            <span data-feather="thumbs-up"></span>
            <!-- text on botton here -->
        </button>

        <button id="dislike_btn" data-pageid="{{ page.id }}" class="btn btn-primary btn-sm" type="button">
            <span data-feather="thumbs-down"></span>
            <!-- text on botton here -->
        </button>
        
        {% endif %}
        
        
        <a href="{% url 'rango:add_comment' page.slug %}">Add Comment</a>
    </div>

    <div>
        Back to the category: 
        <a href="{% url 'rango:show_category' page.category.slug %}">{{ page.category.name }}</a>
    </div>

    <div>
        
        <h2>Comments</h2>
        {% if user.is_authenticated %}
            {% block comments_block %}
            order by time <a href="{% url 'rango:show_page_order_by_likes' page.slug %}">order by likes</a>
            {% get_comment_list_by_time page%}
            {% endblock %} 
        {% else %}
            Log in to see comments!
        {% endif%}   
    </div>

    {% else %}
    The specified page does not exist.
    {% endif %}

{% endblock %}