{% extends 'rango/base.html' %}
{% load staticfiles %}
{% load rango_template_tags %}

{% block title_block %}
    {% if page %}
        {{ page.title }}
    {% else %}
        Unknown Page
    {% endif %}
{% endblock %}

{% block body_block %}
    {% if page %}
    <div>
        <div class="jumbotron p-4">
            <div class="container">
                <h1 class="jumbotron-heading">{{ page.title }}</h1>
                <div>
                    <strong id="like_count">{{ page.likes }}</strong> likes
                    {% if user.is_authenticated %}
                    <button id="like_btn" data-pageid="{{ page.id }}" class="btn btn-primary btn-sm" type="button">
                        <span data-feather="thumbs-up"></span>
                        Like page
                    </button>
                    {% endif %}
                </div>
                <!-- <div>
                    <strong id="dislike_count">{{ page.dislikes }}</strong> dislikes
                    {% if user.is_authenticated %}
                    <button id="dislike_btn" data-pageid="{{ page.id }}" class="btn btn-primary btn-sm" type="button">
                        <span data-feather="thumbs-down"></span>
                        Dislike page
                    </button>
                    {% endif %}
                </div> -->
            </div>
        </div>   
        Access to the tutorial: 
        <a href="{{ page.url }}">{{ page.title }}</a>
    </div>    
    <p>
    <div>
        <strong>{{ page.likes }}</strong> people like this tutorial and <strong>{{ page.dislikes }}</strong> don't
        <p>
        Add like Add dislike <a href="{% url 'rango:add_comment' page.slug %}">Add Comment</a>
    </div>

    <div><p>
        Back to the category: 
        <a href="{% url 'rango:show_category' page.category.slug %}">{{ page.category.name }}</a>
    </div>

    <div><p></p> 
        
        <h2>Comments</h2>
        {% block comments_block %}
        order by time <a href="{% url 'rango:show_page_order_by_likes' page.slug %}">order by likes</a>
        {% get_comment_list_by_time page%}
        {% endblock %}    
    </div>

    {% else %}
    The specified page does not exist.
    {% endif %}

{% endblock %}