{% extends 'rango/base.html' %}
{% load staticfiles %}

{% block title_block %}
    Profile for {{ user.username }}
{% endblock %}

{% block body_block %}
    <h1>Profile Page</h1>
    Username:&nbsp;{{user.username}} <br />
    Email address:&nbsp;{{user.email}} <br />
    Current Avatar:&nbsp;&nbsp;<a href="{% url 'rango:update_avatar' user.username%}">Update Avatar</a>
    <br />
    <img src="{{ MEDIA_URL }}{{user_profile.picture}}" 
         width="300"
         height="300"
         alt="User Avatar" /> 
    <br />
{% endblock %}