{% extends 'rango/base.html' %}
{% load staticfiles %}
{% load rango_template_tags %}

{% block title_block %}
    Profile for {{ user1.username }}
{% endblock %}

{% block body_block %}
    <h1>Profile Page</h1>
    
    {% if user == user1 %}
        Username:&nbsp;{{user1.username}} &nbsp;&nbsp;<a href="{% url 'rango:update_profile' user.username%}">Update Profile</a>
        <br /> Email address:&nbsp;{{user1.email}} <br />
        Current Avatar: <br />
        <img src="{{ MEDIA_URL }}{{user_profile.picture}}" 
         width="350"
         height="350"
         alt="User Avatar" /> 
         <div>
            <form method="post" action="{% url 'rango:profile' user.username %}" enctype="multipart/form-data">
                {% csrf_token %}
                {{form.picture}}
                <input type="submit" name="submit" value="Update Avatar" />
            </form>
        </div>
    {% elif user != user1 %}
        Username:&nbsp;{{user1.username}}
        <br /> Email address:&nbsp;{{user1.email}} <br />
        Current Avatar: <br />
        <img src="{{ MEDIA_URL }}{{user_profile1.picture}}" 
         width="300"
         height="300"
         alt="User Avatar" /> 
    {% endif %}
    <br />

    <h2>Past Comments</h2>
        {% get_comment_list_by_user user1%}

{% endblock %}